/* Margin & Padding reset */
body, h1, h2, h3, h4, p, img, ul, li
{
    padding: 0;
    margin: 0;
}

html
{
    background: #dbd6d6
}

body
{
    font-family: Helvetica, sans-serif, Arial;
    font-size: 16px;
    margin: 0; 
}

/* Navigation Bar*/

#nav ul
{
    background-color: aqua;
    height: 34px;
    padding-left: 110px;
    border-top: gray 1px solid;
    border-bottom: gray 1px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

#nav li
{
    list-style: none;
    display:block;
    
}

#nav li a
{
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 28px;
    padding-right: 28px;
    font-size: 16px;
    text-decoration: none;
    background-color: aqua;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.subheader
{
    clear:left;
    margin-top: 5px;
}
/* Header */

#header
{
    background: #ff6600;
    color: white;
    padding: 2em 0em 2em
}

/* Container */

#container
{
    background: #fcfcfc;
    width: 1000px;
    margin: auto;
    line-height: 1.5em;
    padding-bottom: 300px
}

#container h3, p
{
  
}

/* Footer */

#footer
{
    width: 1000px;
    margin: auto;
    background-image: url(Pictures/sand.jpg);
    position: relative;
    height: 100px;
}
