/* Margin & Padding reset */
body, h1, h2, h3, h4, p, img, ul, li
{
    padding: 0;
    margin: 0;
}

/* Quick layout edits*/
html
{
    background: #dbd6d6
}

body
{
    font-family: Helvetica, sans-serif, Arial;
    font-size: 16px;
    margin: 0; 
}

/* Header */

#header
{
    background: #ff6600;
    padding: 4em 0em 4em
}

#header h1
{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-left: 200px
}

#header ul
{
    float: right;
    width: 150px;
    max-height: px;
    margin-right: 60px;
    margin-top: -40px;
    text-align: center;
    background: #efefef;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border: 4px grey solid;
}

#header li
{
    list-style: none;
    font-size: 16px;
}

#header li a
{
    text-decoration: none;
    background-color: #ff781e;
    display: block;
    font-size: 25px;
    font-weight: 600;
    color: whitesmoke;
    border-radius: 20px;
    margin-top: 10px;
    text-shadow: 1px 1px 1px #282828;
    padding-bottom: 2px;
    border: 2px grey solid;
  
}

#header li a:hover
{
    background: aqua;
}

#header a img
{
    float: left;
    margin-top: -105px;
    margin-left: 50px;
}

.subheader
{
    clear:left;
    background: #515151;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.subheader h2
{
    font-size: 40px;
    color: whitesmoke;
}

/* Navigation Bar*/

#nav ul
{
    background-color: aqua;
    height: 34px;
    padding-left: 110px;
    border-top: gray 2px solid;
    border-bottom: gray 2px solid;
    border-left: gray 2px solid;
    border-right: gray 2px solid;
}

#nav li
{
    list-style: none;
    display:block;
    
}

#nav li a
{
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 28px;
    padding-right: 28px;
    font-size: 16px;
    text-decoration: none;
    background-color: aqua;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
    color: white;
    text-shadow: 1px 1px 1px #282828;
}

#nav li a:hover
{
    background-color:#ff6600;
}


/* Container */

#container
{
    background: #fcfcfc;
    width: 1000px;
    margin: auto;
    line-height: 1.5em;
    padding-bottom: 300px
}

#container h3
{
    padding-left: 135px;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 50px;
}

#container p
{
    padding-left: 8em;
    padding-right: 8em;
    font-size: 18px;
    margin-top: 40px;
}

.spacing span
{
    display:block;
    margin-left: 90px;
    margin-top: -23px
}

.links p
{
    margin-bottom: -20px;
}

.bold
{
    font-weight: bold;
}

/*Team Ladder*/

.ladder table
{
    border-collapse: collapse;
}

.ladder
{
    border-collapse: collapse;
    max-width: 800px;
    margin-left: 140px;
}

.ladder th
{
    text-align: left;
    padding: 6px 17px 6px 3px;
    background-color: #a0a0a0;
    border: 1px grey solid;
}

.ladder td
{
    border: 1px gray solid;
}

.ladder tr:nth-child(odd) td
{
    background-color: #e0e0e0
}

/* Footer */

#footer
{
    width: 1000px;
    margin: auto;
    background-image: url(Pictures/sand_web.jpeg);
    position: relative;
    height: 100px;
}
